:root{
    --dark-clr: #303436;
    --light-clr: #F5F5F5;
    --primary-clr: #1EFFBC;
    --success-clr: #00ABE7;   
}

*,::before,::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background: var(--dark-clr);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:70vh;
}

h1{
    font-size:2.25rem;
    color: var(--light-clr);
    text-align:center;
    margin-bottom:.5em;
}
@media(max-width:500px){
    h1{
        font-size:2rem;
    }
    
    #input-container p{
        font-size:1rem;
    }
    
    button{
        font-size:.75rem;
    }    
}


#input-container{
    background: var(--light-clr);
    border-radius:20px;
    padding:2em;
    display:flex;
    flex-direction:column;
    height:auto;
}

#input-container p{
    font-size:1.25rem;
}

#inner-input-container {
    margin: 1em 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

input{
    height:100%;
    width:100%;
    border:none;
    border-bottom:2px solid var(--primary-clr);
    border-radius:5px;
    margin-right:.5em;
}

input:focus{
    outline:none;
}

button{
    background-color: var(--success-clr);
    color:var(--light-clr);
    font-size:1rem;
    padding:.5em 1em;
    border:none;
    border-radius:50px;
}

button:hover{
    cursor: pointer;
}